$grey: #777;
$darkGrey: #555;
$blue: #000dff;
$lightBlue: #6b73ff;
$white: #fff;
$light: #f7f8f9;
$red: #fd6e6a;
$gold: #ffc600;
$blueGradient: linear-gradient(to bottom right, $lightBlue, $blue);
$redGradient: linear-gradient(to bottom right, $red, $red);
$boxShadow: 0 1rem 2rem rgba($darkGrey, .2);